@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;500&display=swap');

/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: 'Hanyi';
  src: local('Hanyi'), url(./fonts/HanyiSentyTang.ttf) format('truetype');
}
